<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Connect4 Free Online Game">
    <meta name="author" content="lab-boole">
    <title>Connect4 Game</title>
    <link rel="stylesheet" href="css/app.css">
    <script type="module" src="js/GameView.js"></script>
</head>

<body class="body">
    <div class="app">
        <header class="header col-3">
            <h1 class="header__logo">Connect<span class="header__logo__span">4</span></h1>
        </header>
    
        <nav class="nav col-3">
            <ul class="nav__list">
                <li class="nav__item">
                    <button id="new-game" class="button">
                        <svg class="button__icon button__icon--mr" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M17.65 6.35C16.2 4.9 14.21 4 12 4C7.57999 4 4.00999 7.58 4.00999 12C4.00999 16.42 7.57999 20 12 20C15.73 20 18.84 17.45 19.73 14H17.65C16.83 16.33 14.61 18 12 18C8.68999 18 5.99999 15.31 5.99999 12C5.99999 8.69 8.68999 6 12 6C13.66 6 15.14 6.69 16.22 7.78L13 11H20V4L17.65 6.35Z" fill="#57C3FF"/>
                        </svg>
                        <span class="button__txt">New Game</span>
                    </button>
                </li>
                <li class="nav__item">
                    <button id="save-game" class="button">
                        <svg class="button__icon button__icon--mr" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12L19 6.41Z" fill="#57C3FF"/>
                        </svg>
                        <span class="button__txt">Save Game</span>
                    </button>
                </li>
                <li class="nav__item">
                    <button id="recover-game" class="button">
                        <svg class="button__icon button__icon--mr" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12L19 6.41Z" fill="#57C3FF"/>
                        </svg>
                        <span class="button__txt">Recover Game</span>
                    </button>
                </li>
            </ul>
        </nav>
    
        <main class="board__wrapper">
            <div class="board">
                <div id="cell-50" class="board__header board__cell" role="0">
                    <input id="checker-50" type="checkbox" class="board__input" name="checker-50" disabled>
                    <label for="checker-50" class="board__checker"></label>
                </div>
                <div id="cell-51" class="board__header board__cell" role="1">
                    <input id="checker-51" type="checkbox" class="board__input" name="checker-51" disabled>
                    <label for="checker-51" class="board__checker"></label>
                </div>
                <div id="cell-52" class="board__header board__cell" role="2">
                    <input id="checker-52" type="checkbox" class="board__input" name="checker-52" disabled>
                    <label for="checker-52" class="board__checker"></label>
                </div>
                <div id="cell-53" class="board__header board__cell"  role="3">
                    <input id="checker-53" type="checkbox" class="board__input" name="checker-53" disabled>
                    <label for="checker-53" class="board__checker"></label>
                </div>
                <div id="cell-54" class="board__header board__cell" role="4">
                    <input id="checker-54" type="checkbox" class="board__input" name="checker-54" disabled>
                    <label for="checker-54" class="board__checker"></label>
                </div>
                <div id="cell-55" class="board__header board__cell" role="5">
                    <input id="checker-55" type="checkbox" class="board__input" name="checker-55" disabled>
                    <label for="checker-55" class="board__checker"></label>
                </div>
                <div id="cell-56" class="board__header board__cell" role="6">
                    <input id="checker-56" type="checkbox" class="board__input" name="checker-56" disabled>
                    <label for="checker-56" class="board__checker"></label>
                </div>
                <div id="cell-40" class="board__cell">
                    <input id="checker-40" type="checkbox" class="board__input" name="checker-40" disabled>
                    <label for="checker-40" class="board__checker"></label>
                </div>
                <div id="cell-41" class="board__cell">
                    <input id="checker-41" type="checkbox" class="board__input" name="checker-41" disabled>
                    <label for="checker-41" class="board__checker"></label>
                </div>
                <div id="cell-42" class="board__cell">
                    <input id="checker-42" type="checkbox" class="board__input" name="checker-42" disabled>
                    <label for="checker-42" class="board__checker"></label>
                </div>
                <div id="cell-43" class="board__cell">
                    <input id="checker-43" type="checkbox" class="board__input" name="checker-43" disabled>
                    <label for="checker-43" class="board__checker"></label>
                </div>
                <div id="cell-44" class="board__cell">
                    <input id="checker-44" type="checkbox" class="board__input" name="checker-44" disabled>
                    <label for="checker-44" class="board__checker"></label>
                </div>
                <div id="cell-45" class="board__cell">
                    <input id="checker-45" type="checkbox" class="board__input" name="checker-45" disabled>
                    <label for="checker-45" class="board__checker"></label>
                </div>
                <div id="cell-46" class="board__cell">
                    <input id="checker-46" type="checkbox" class="board__input" name="checker-46" disabled>
                    <label for="checker-46" class="board__checker"></label>
                </div>
                <div id="cell-30" class="board__cell">
                    <input id="checker-30" type="checkbox" class="board__input" name="checker-30" disabled>
                    <label for="checker-30" class="board__checker"></label>
                </div>
                <div id="cell-31" class="board__cell">
                    <input id="checker-31" type="checkbox" class="board__input" name="checker-31" disabled>
                    <label for="checker-31" class="board__checker"></label>
                </div>
                <div id="cell-32" class="board__cell">
                    <input id="checker-32" type="checkbox" class="board__input" name="checker-32" disabled>
                    <label for="checker-32" class="board__checker"></label>
                </div>
                <div id="cell-33" class="board__cell">
                    <input id="checker-33" type="checkbox" class="board__input" name="checker-33" disabled>
                    <label for="checker-33" class="board__checker"></label>
                </div>
                <div id="cell-34" class="board__cell">
                    <input id="checker-34" type="checkbox" class="board__input" name="checker-34" disabled>
                    <label for="checker-34" class="board__checker"></label>
                </div>
                <div id="cell-35" class="board__cell">
                    <input id="checker-35" type="checkbox" class="board__input" name="checker-35" disabled>
                    <label for="checker-35" class="board__checker"></label>
                </div>
                <div id="cell-36" class="board__cell">
                    <input id="checker-36" type="checkbox" class="board__input" name="checker-36" disabled>
                    <label for="checker-36" class="board__checker"></label>
                </div>
                <div id="cell-20" class="board__cell">
                    <input id="checker-20" type="checkbox" class="board__input" name="checker-20" disabled>
                    <label for="checker-20" class="board__checker"></label>
                </div>
                <div id="cell-21" class="board__cell">
                    <input id="checker-21" type="checkbox" class="board__input" name="checker-21" disabled>
                    <label for="checker-21" class="board__checker"></label>
                </div>
                <div id="cell-22" class="board__cell">
                    <input id="checker-22" type="checkbox" class="board__input" name="checker-22" disabled>
                    <label for="checker-22" class="board__checker"></label>
                </div>
                <div id="cell-23" class="board__cell">
                    <input id="checker-23" type="checkbox" class="board__input" name="checker-23" disabled>
                    <label for="checker-23" class="board__checker"></label>
                </div>
                <div id="cell-24" class="board__cell">
                    <input id="checker-24" type="checkbox" class="board__input" name="checker-24" disabled>
                    <label for="checker-24" class="board__checker"></label>
                </div>
                <div id="cell-25" class="board__cell">
                    <input id="checker-25" type="checkbox" class="board__input" name="checker-25" disabled>
                    <label for="checker-25" class="board__checker"></label>
                </div>
                <div id="cell-26" class="board__cell">
                    <input id="checker-26" type="checkbox" class="board__input" name="checker-26" disabled>
                    <label for="checker-26" class="board__checker"></label>
                </div>
                <div id="cell-10" class="board__cell">
                    <input id="checker-10" type="checkbox" class="board__input" name="checker-10" disabled>
                    <label for="checker-10" class="board__checker"></label>
                </div>
                <div id="cell-11" class="board__cell">
                    <input id="checker-11" type="checkbox" class="board__input" name="checker-11" disabled>
                    <label for="checker-11" class="board__checker"></label>
                </div>
                <div id="cell-12" class="board__cell">
                    <input id="checker-12" type="checkbox" class="board__input" name="checker-12" disabled>
                    <label for="checker-12" class="board__checker"></label>
                </div>
                <div id="cell-13" class="board__cell">
                    <input id="checker-13" type="checkbox" class="board__input" name="checker-13" disabled>
                    <label for="checker-13" class="board__checker"></label>
                </div>
                <div id="cell-14" class="board__cell">
                    <input id="checker-14" type="checkbox" class="board__input" name="checker-14" disabled>
                    <label for="checker-14" class="board__checker"></label>
                </div>
                <div id="cell-15" class="board__cell">
                    <input id="checker-15" type="checkbox" class="board__input" name="checker-15" disabled>
                    <label for="checker-15" class="board__checker"></label>
                </div>
                <div id="cell-16" class="board__cell">
                    <input id="checker-16" type="checkbox" class="board__input" name="checker-16" disabled>
                    <label for="checker-16" class="board__checker"></label>
                </div>
                <div id="cell-00" class="board__cell">
                    <input id="checker-00" type="checkbox" class="board__input" name="checker-00" disabled>
                    <label for="checker-00" class="board__checker"></label>
                </div>
                <div id="cell-01" class="board__cell">
                    <input id="checker-01" type="checkbox" class="board__input" name="checker-01" disabled>
                    <label for="checker-01" class="board__checker"></label>
                </div>
                <div id="cell-02" class="board__cell">
                    <input id="checker-02" type="checkbox" class="board__input" name="checker-02" disabled>
                    <label for="checker-02" class="board__checker"></label>
                </div>
                <div id="cell-03" class="board__cell">
                    <input id="checker-03" type="checkbox" class="board__input" name="checker-03" disabled>
                    <label for="checker-03" class="board__checker"></label>
                </div>
                <div id="cell-04" class="board__cell">
                    <input id="checker-04" type="checkbox" class="board__input" name="checker-04" disabled>
                    <label for="checker-04" class="board__checker"></label>
                </div>
                <div id="cell-05" class="board__cell">
                    <input id="checker-05" type="checkbox" class="board__input" name="checker-05" disabled>
                    <label for="checker-05" class="board__checker"></label>
                </div>
                <div id="cell-06" class="board__cell">
                    <input id="checker-06" type="checkbox" class="board__input" name="checker-06" disabled>
                    <label for="checker-06" class="board__checker"></label>
                </div>
            </div>
    
            <aside class="board__players p-1-5 align-items-center">
                <header class="players__header">
                    <h2 class="players__header--turn">Turn</h2>
                </header>

                <div class="players__wrapper">
                    <div id="player-yellow" class="player   d-flex flex-column align-items-center">
                        <span class="player__checker player--yellow   d-flex align-items-center justify-content-center">Y</span>
                        <p class="player__name">YELLOW</p>
                    </div>
                    <div id="player-red" class="player   d-flex flex-column align-items-center">
                        <span class="player__checker player--red   d-flex align-items-center justify-content-center">R</span>
                        <p class="player__name">RED</p>
                    </div>
                </div>
            </aside>
        </main>
    
        <footer class="footer col-3">
            <div class="timer__wrapper d-flex mb-1">
                <div class="timer d-flex align-items-center">
                    <svg class="button__icon button__icon--mr" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path opacity="0.3" d="M12.07 6.00999C8.20001 6.00999 5.07001 9.13999 5.07001 13.01C5.07001 16.88 8.20001 20.01 12.07 20.01C15.94 20.01 19.07 16.88 19.07 13.01C19.07 9.13999 15.94 6.00999 12.07 6.00999V6.00999ZM13.07 14.01H11.07V8.00999H13.07V14.01Z" fill="#2D363C"/>
                        <path d="M9.07001 1.00999H15.07V3.00999H9.07001V1.00999ZM11.07 8.00999H13.07V14.01H11.07V8.00999ZM19.1 7.38999L20.52 5.96999C20.09 5.45999 19.62 4.97999 19.11 4.55999L17.69 5.97999C16.14 4.73999 14.19 3.99999 12.07 3.99999C7.10001 3.99999 3.07001 8.02999 3.07001 13C3.07001 17.97 7.09001 22 12.07 22C17.05 22 21.07 17.97 21.07 13C21.07 10.89 20.33 8.92999 19.1 7.38999ZM12.07 20.01C8.20001 20.01 5.07001 16.88 5.07001 13.01C5.07001 9.13999 8.20001 6.00999 12.07 6.00999C15.94 6.00999 19.07 9.13999 19.07 13.01C19.07 16.88 15.94 20.01 12.07 20.01Z" fill="#57C3FF"/>
                    </svg>
                    <p class="timer__time color--white">
                        <span id="timer-minutes">00</span>:<span id="timer-seconds">21</span>
                    </p>
                </div>
                <button class="timer__pause-btn button justify-content-center">
                    <svg class="button__icon timer__pause-btn__icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6 5H10V19H6V5ZM14 5H18V19H14V5Z" fill="white"/>
                    </svg>
                </button>
            </div>
            <p class="text--small color--gray-5 pl-3">Copyright © 2022 Lab-Boole</p>
        </footer>
        <dialog id="dialog__players">
            <p>Select an option</p>
            <form method="dialog">
                <button type="submit" value="2">Player<br>VS<br>Player</button>
                <button type="submit" value="1">Player<br>VS<br>Machine</button>
                <button type="submit" value="0">Machine<br>VS<br>Machine</button>
            </form>
        </dialog>
        <dialog id="dialog-yes-no">
            <form method="dialog">
                <h1 id="dialog-yes-no__title"></h1>
                <p>Do you want to play another game?</p>
                <button type="submit" value="yes">Yes</button>
                <button type="submit" value="no">No</button>
            </form>
        </dialog>
    </div>
</body>
</html>